body {
  background: #fff;
  color: #111;
  font: 1em/1.5 'Lucida Grande', 'Lucida Sans Unicode', Helvetica, Verdana, Arial, sans-serif;
}

h1 {
  font-size: 2.5em;
  font-weight: 700;
  line-height: 1.25;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
  line-height: 1.25;
}

h3 {
  border-bottom: 1px #bebebe solid;
  font-size: 2.25em;
  font-weight: 300;
  line-height: 1.25;
  margin-top: 1.25em;
}

h4 {
  border-bottom: 1px #cdcdcd solid;
  color: #333;
  font-size: 1.75em;
  font-weight: 700;
  line-height: 1.25;
  margin-top: 1em;
}

h5 {
  border-bottom: 1px #dcdcdc dotted;
  font-size: 1.375em;
  line-height: 1.25;
  margin-top: 1em;
}

h6 {
  font-size: 1.125em;
  font-weight: 700;
  line-height: 1.25;
  margin-top: 1em;
}

b, strong {
  font-weight: bold;
}

i, em {
  font-style: italic;
}

a, a:visited, a:active {
  border-bottom: 1px solid;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

code {
  background: #eee;
  border: 1px #ccc solid;
  font-family: Consolas, "Lucida Console", Monaco, Courier, monospace;
  font-size: 0.875em;
  padding: 0.15em;
}

pre {
  white-space: pre-wrap; /* css-3 */
  white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
}

pre code {
  display: block;
  padding: 1em;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
}

ul, ol {
  margin: 0 auto;
  width: 95%;
}

ul {
  list-style: circle inside;
}

ol {
  list-style: decimal-leading-zero inside;
}

li {
  display: list-item;
}

li ul {
  list-style-type: square;
}

li ol {
  list-style-type: lower-alpha;
}

dl {
  margin: 1.6em 0;
}

dt {
  font-weight: 700;
}

dd {
  text-indent: 1.6em;
}

h3 + p, h4 + p, h5 + p, h6 + p, h3 + ol, h4 + ol, h5 + ol, h6 + ol, h3 + ul, h4 + ul, h5 + ul, h6 + ul, p + p, ul + p, ol + p, p + ul, p + ol, li + li, .highlight + p, p + .highlight, dd + dt {
  margin-top: 1.6em;
}

table {
  margin: 1.6em auto 0;
}

th, td {
  padding: 0.375em;
}

th {
  text-align: left;
  font-weight: 700;
}

thead th {
  text-align: center;
  border: 2px #eee solid;
  border-bottom-color: #fff;
}

tbody td {
  background: #eee;
  border: 2px #fff solid;
}

/* header */

.header {
  background: #900;
  color: #fff;
}

.header a, .header a:visited, .header a:active {
  border-bottom: none;
  color: #fff;
}

.header a:hover, .header a:active, .header a:focus {
  border-bottom: 1px solid;
  outline: none;
}

.header .title {
  margin: 0 auto;
  padding: 1em 0;
  width: 45em;
}

.header .page {
  font-size: 1.5em;
}

/* main */

.main {
  line-height: 1.5;
  margin: 1.5em auto;
  max-width: 40em;
  min-width: 30em;
  width: 40em;
}

.navigation ul, .navigation li {
  display: inline;
}

.navigation li + li {
  margin-top: 0;
  padding-left: 1em;
}

.bottom {
  border-top: 1px #ddd solid;
  margin: 3em 0 1em;
  padding: 1em 0;
}

/* diagram */

ol.diagram, .diagram ol { 
  list-style: none;
}

.diagram li, .diagram span, p.diagram {
  background: #ccc;
  border: 1px solid; 
  margin: 0.125em;
  padding: 0.125em; 
}

.diagram span {
  line-height: 2;
}

li.emphasize { 
  border: 3px solid;
}

.diagram li:hover, .diagram span:hover { 
  background: #fff; 
    -webkit-transition: all 0.2s ease-in;
}

.diagram code {
  background: transparent;
  border: none;
  display: block;
}

.diagram span code {
  display: inline-block;
}

/* examples */

.georgia {
  font-family: Georgia;
}

.serif {
  font-family: serif;
}

.red {
  background: #900;
  color: #fff;
}

.white {
  background: #fff;
}

.black {
  background: #000;
  color: #fff;
}

.light-gray-ddd {
  background: #ddd;
}

.dark-gray-333 {
  background: #333;
}