<html>
  <head>
    <title>{{ page.title }} | Front End Help</title>
      <link rel="stylesheet" type="text/css" href="/docs/stylesheets/reset.css" />
      <link rel="stylesheet" type="text/css" href="/docs/stylesheets/github.css" />
      <link rel="stylesheet" type="text/css" href="stylesheets/front_end_docs.css" />
  </head>
  <body>
    <div class="header">
      <h1>Front End Help</h1>
      <h2>{{ page.title }}</h2>
    </div>
    <div class="main">
      {{ content }}
    </div>
  </body>
</html>